
.container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'tableContent tableContent tableContent tableContent tableContent tableContent'
    'video video video video video video'
    'location location location location location location'
    'rText rText rText rText rText rText'
    'info info info info info info';
}

header {
	grid-area: header;
	text-align: center;
	font-size: 20px;
	top: 0;
	position: sticky;
	position: -webkit-sticky;
 }

 .heading { /* If use header it will have background and hide paragraph*/
 	background: orange;
 }

ul li {
	display: inline-block;
	padding: 10px;

}

li:hover {
	background: blue;
	color: black;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: black;
}

/* header end */

/* text center start */

section.text {
	grid-area: menu;
	margin: 2% 0;
}


/* font settings for tasks */

h3 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 1%;
}
/* task send */

.text p {
	font-family: 'Dokdo';
	padding: 1%;
}

/* text center end */

/* logo 3 x 2 center */

.cards {
 	grid-area: main;
 	text-align: center;
}

.logo {
	display: inline-block;
}

.cards2 {
 	grid-area: main2;
 	text-align: center;
}

/* logo 3 x 2 end */

/* Table */

.companyTable {
	grid-area: tableContent;
	margin: 2% 0;
}

.companyTable table {
	margin: 2% auto;
	border-collapse: collapse;
}

tr td {
	border-bottom: 2px solid black;
}

tr:hover {
	background: silver;
}

th {
	background: orange;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
}

td {
	padding: 15px;
}

/* Table end */

.youtube {
	grid-area: video;
	text-align: center;
}

.map {
	grid-area: location;
	text-align: center;	
	margin: 2% 0;
}

/* textarea */

.responsiveText {
	grid-area: rText;
	margin: 2% 0;
}

.area {
	padding: 10px;
	display: inline-block;
}

.hiddenElement textarea {
	overflow: hidden;
}

div.ex4 {
  background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: visible;
}

/* Textarea end*/

/* Footer */

.details{
	grid-area: info;
	text-align: center;
	display: inline-block;
}

.companyLoc {
	display: inline-block;
	width: 250px;
	height: 250px;
	text-align: center;
}

.companyLoc iframe{
	display: inline-block;
}

