
.container {
  display: grid;
  grid-template-areas:
    'header header header header header header'  /* Why same names???*/
    'menu menu menu menu menu menu'
    'main main main main main main'
    'main2 main2 main2 main2 main2 main2'
    'tableContent tableContent tableContent tableContent tableContent tableContent'
    'video video video video video video';
}

header {
	grid-area: header;
	text-align: center;
	font-size: 20px;
	top: 0;
	position: sticky;
	position: -webkit-sticky;
 }

 .heading { /* If use header it will have background and hide paragraph*/
 	background: orange;
 }

ul li {
	display: inline-block;
	padding: 10px;
}

section.text {
	grid-area: menu;
	margin: 2% 0;
}

/* tasks */

h3 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 1%;
}
/* task end */

.text p {
	font-family: 'Dokdo';
	padding: 1%;
}

.cards {
 	grid-area: main;
 		text-align: center;
}

.logo {
	display: inline-block;
}

.cards2 {
 	grid-area: main2;
 	text-align: center;
}

/* Table */

.companyTable {
	grid-area: tableContent;
	margin: 2% 0;
}

.companyTable table {
	margin: 2% auto;
	border-collapse: collapse;
}

tr td {
	border-bottom: 2px solid black;
}

tr:hover {
	background: silver;
}

th {
	background: orange;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
}

td {
	padding: 15px;
}

/* Table end */

.youtube {
	grid-area: video;
	text-align: center;
}